@font-face {
    font-family: 'AgencyFBBold';
    src: url('../fonts/AgencyFBBold.eot');
    src: url('../fonts/AgencyFBBold.eot') format('embedded-opentype'),
         url('../fonts/AgencyFBBold.woff2') format('woff2'),
         url('../fonts/AgencyFBBold.woff') format('woff'),
         url('../fonts/AgencyFBBold.ttf') format('truetype'),
         url('../fonts/AgencyFBBold.svg#AgencyFBBold') format('svg');
}
@font-face {
    font-family: 'AGENCYR';
    src: url('../fonts/AGENCYR.eot');
    src: url('../fonts/AGENCYR.eot') format('embedded-opentype'),
         url('../fonts/AGENCYR.woff2') format('woff2'),
         url('../fonts/AGENCYR.woff') format('woff'),
         url('../fonts/AGENCYR.ttf') format('truetype'),
         url('../fonts/AGENCYR.svg#AGENCYR') format('svg');
}
body{
    margin:0px;
    padding: 0px;
    font-family: 'AGENCYR';
}
.top-header{
    background-color: #546170;
    padding: 10px 0px;
}
.space-from-left-right{
    padding: 0px 60px;
}
.link-with-icon{
    margin-right: 35px;
    display: inline-block;
    padding: 5px 0px;
}
.link-with-icon a, .link-with-icon i{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    line-height: 18px;
}
.link-with-icon i, .link-with-icon span{
    color: #a7aeb5;
}
.link-with-icon i{
    margin-right: 5px;
}
.link-with-icon a{
    font-family: 'AgencyFBBold';
}
.social-icons ul{
    margin: 0px;
    padding: 0px;
}
.social-icons ul li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
}
.social-icons ul li a{
    color: #ffffff;
    font-size: 22px;
}
.social-icons span{
    color: #a7aeb5;
    font-family: 'AgencyFBBold';
    font-size: 18px;
}
.header-top-right{
    display: flex;
    justify-content: flex-end;
}
.cart-icon span {
    background-color: #15AAD4;
    padding: 5px;
    border-radius: 100px;
    width: 25px;
    display: inline-block;
    height: 25px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    margin-left: -15px;
}
.cart-icon{
    margin: 0px 20px;
}
.login-register-links .link-with-icon a{
    text-transform: uppercase;
}
.login-register-links .link-with-icon i{
    color: #15AAD4;
}
.main-menu-wrapper{
    background: #0D1F35;
}
.navbar-expand-md .navbar-nav .nav-link{
    color: #ffffff;
    font-size: 22px;
    font-family: 'AgencyFBBold';
    text-transform: uppercase;
    padding: 0px 20px;
}
.getstarted-btn {
    background-color: #15AAD4;
    height: 140px;
    width: 330px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.getstarted-btn a{
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    margin-right: 15px;
}
.getstarted-btn i{
    margin-top: -5px;
}
.navbar-brand{
    margin-left: 20px;
}
.banner-section-wrapper{
    background-image: url("../images/banner.jpg");
    height: 900px;
}
.banner-box{
    border: 10px solid #15AAD4;
    width: 475px;
    height: 503px;
    margin: auto;
}
.banner-section-wrapper{
    align-items: center;
    justify-content: center;
    display: flex;
}
.banner-box{
    border: 10px solid #15AAD4;
    width: 475px;
    height: 503px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.banner-box h5{
    color: #FAFAFA;
    font-family: 'AgencyFBBold';
    font-size: 50px;
}
.banner-box h1{
    font-size: 200px;
    font-family: 'AgencyFBBold';
    color: #ffffff;
}
.play-button{
    color: #ffffff;
    font-family: 'AgencyFBBold';
    font-size: 24px;
}
.play-button i{
    margin-right: 10px;
}
.section-title{
    text-align: center;
}
.section-title h6{
    color: #15AAD4;
    font-family: 'AgencyFBBold';
    font-size: 32px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.section-title h6:before{
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #15AAD4;
    top: 18px;
    bottom: 0px;
    left: -70px;
}
.section-title h2{
    color: #2B2024;
    font-family: 'AgencyFBBold';
    font-size: 60px;
    text-transform: uppercase;
}
.space-top-bottom150{
    padding: 150px 0px;
}
.texture-top{
    position: relative;
}
.texture-top:before{
    content: "";
    background-image: url(../images/Vector-top.png);
    background-repeat: no-repeat;
    height: 166px;
    position: absolute;
    top: -85px;
    width: 100%;
}
.Search-gym-section{
    background-color: #fafafa;
}
.search-gym-by-box{
    border: 1px solid #DEDEDE;
    padding: 30px;
}
.search-gym-by-box h4{
    color: #2B2024;
    font-size: 32px;
    font-family: 'AgencyFBBold';
    text-transform: uppercase;
}
.search-gym-by-box img{
    margin-bottom: 20px;
}
.search-gym-by-box ul{
    margin: 0px;
}
.search-gym-by-box ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'AgencyFBBold';
    color: #928d8f;
}
.search-gym-by-box ul li{
    list-style: none;
    list-style: square;
    color: #928d8f;
}
.more-info{
    text-decoration: none;
}
.more-info p{
    color: #2B2024;
    font-size: 22px;
    font-family: 'AgencyFBBold';
    margin: 0px;
}
.more-info {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
@media only screen and (min-width: 1920px){

    .container-fluid{
        width: 1720px;
    }
}